<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Управление списком студентов</h1>
    
    <div class="add">
        <h3>Добавить нового студента</h3>
        <form action="/students" method="POST">
            <input type="text" name="name" placeholder="Имя" required>
            <input type="number" name="age" placeholder="Возраст" required>
            <input type="text" name="major" placeholder="Факультет" required>
            <input type="number" step="0.1" name="gpa" placeholder="GPA" required>
            <button type="submit">Добавить в список</button>
        </form>
    </div>

    <table class="student-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Факультет</th>
                <th>GPA</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(student => { %>
            <tr>
                <td><%= student.id %>.</td>
                <td><%= student.name %></td>
                <td><%= student.major %></td>
                <td><%= student.gpa %></td>
                <td>
                    <form action="/students/<%= student.id %>?_method=DELETE" method="POST" style="display:inline;">
                        <button class="dlt" type="submit">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>